@charset "UTF-8";

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #A9411D;
}

header {
    border-bottom: 1px solid #000;
    margin-bottom: 40px;
    height: 100px;
}

header h1 {
    text-transform: uppercase;
    margin-bottom: 0;
    color: #FC8B1A;
}

header p {
    color: #D9A282;
}

section {
    margin: 0 auto;
    display: block;
    max-width: 1024px;
    width: 100%;
}

.card {
    border: 1px solid #69110e;
    display: inline-block;
    margin: 10px;
    vertical-align: top;
    max-width: 100%;
    background-color: #f29b30ce;
}

.card img {
    display: block;
    width: 300px;
    height: 300px;
}

.card details {
    display: inline-block;
    width: 300px;
    height: auto;
}

.card details summary {
    font-size: 18px;
    padding: 10px;
    cursor: pointer;
}

.card details p {
    padding: 0 10px;
}

.card blockquote {
    color: #777;
    font-style: italic;
}

@media (max-width: 768px) {
    header {
        padding-bottom: 10px;
        margin-bottom: 40px;
        border-bottom: 1px solid #000;
        height: 200px;
    }

    h1 {
        text-transform: uppercase;
        margin-bottom: 0;
    }

    .card {
        display: block;
        margin: 20px 10px;
    }

    .card img {
        width: 100%;
        height: 100%;
    }

    .card details {
        width: 100%;
    }

    .card details summary {
        font-size: 16px;
    }

    .card details p {
        font-size: 14px;
    }
}    
